<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href='/staticFiles/main.css' />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<head>
    <meta charset="UTF-8">
    <title>Classify Tickets</title>
</head>
<body>
<div class="header">
<h5 style="font-weight:100; font-style: italic">This application is a demo for prioritizing customer support requests based on sentiment and urgency.
<br>The first priority is identifying negativity, then further ordering based on perceived urgency.
</h5>
</div>
<br>
    <h2>Classify a String</h2>
    <h5 style="font-weight:100">Submit an example of a customer support ticket in any given language to be classified.</h5>
    <form method="POST" action="{{url_for('classify_string')}}">
        <input type="text" name="classify_string" style="width:500px">
        <input type="submit" name="classify_string_btn" value="Classify">
        <h4 style="color:red; font-weight:100">{{error}}</h4>
    </form>
<br>
<hr />
<br>
<div class="file">
    <h2>Classify a File of Tickets</h2>
    <h5 style="font-weight:100">Submit a .csv file with no header, and the text for each ticket in the first column with no other data.<br>
    For testing, you can download the raw sample data from the <a href="https://github.com/keatonrproud/cs_sentiment_urgency_analysis/blob/main/flask_upload/sample_input.csv" target="_blank">GitHub repo</a>.</h5>
    <form method="POST" action="{{url_for('classify_file')}}" enctype="multipart/form-data">
        <input type="file" name="tickets_file" value="flask_upload/sample_input.csv">
        <input type="submit" name="classify_file_btn" value="Classify">
    </form>
</div>
</body>
</html>